:root{
    --verde: green;
    --red: red;
    --blue: blue;
    
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    background-size: contain;
}

h1{
    margin-top: 15px;
    text-align: center;
    color: white;
    font-size: 32px;
}

.container__card{
    margin: auto;
    margin-top: 25px;
    box-sizing:border-box;
    width: 400px;
    height: 580px;
    background-color: aliceblue;
    display: block;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 0px 10px 5px var(--red),
                -5px 0px 10px 5px var(--red),
                0px 5px 10px 5px var(--red),
                0px -5px 10px 5px var(--red);
    

    animation: croma infinite alternate 2.5s;
}

@keyframes croma{
    0%{
        
        box-shadow: 5px 0px 10px 5px var(--red),
                -5px 0px 10px 5px var(--red),
                0px 5px 10px 5px var(--red),
                0px -5px 10px 5px var(--red);
    }
    20%{
        
        box-shadow: 5px 0px 10px 5px var(--blue),
                -5px 0px 10px 5px var(--blue),
                0px 5px 10px 5px var(--blue),
                0px -5px 10px 5px var(--blue);
    }

    40%{
        
        box-shadow: 5px 0px 10px 5px var(--verde),
                -5px 0px 10px 5px var(--verde),
                0px 5px 10px 5px var(--verde),
                0px -5px 10px 5px var(--verde);
    }

    60%{
        
        box-shadow: 5px 0px 10px 5px var(--red),
                -5px 0px 10px 5px var(--red),
                0px 5px 10px 5px var(--red),
                0px -5px 10px 5px var(--red);
    }

    80%{
        
        box-shadow: 5px 0px 10px 5px var(--blue),
                -5px 0px 10px 5px var(--blue),
                0px 5px 10px 5px var(--blue),
                0px -5px 10px 5px var(--blue);
    }

    100%{
        
        box-shadow: 5px 0px 10px 5px var(--verde),
                -5px 0px 10px 5px var(--verde),
                0px 5px 10px 5px var(--verde),
                0px -5px 10px 5px var(--verde);
    }

}
    

